* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1290px;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

/* discount */

.discount {
  height: 44px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 16px;
  color: #f2f2f2;
}

.discount p {
  margin-left: 50px;
  transition: color 0.3s;
  cursor: pointer;
}
.discount p:hover {
  color: #deff03;
}

/* header */

header {
  border-bottom: 1px solid solid #e0e0e0;
}

.menu {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 40px;
  align-self: center;
}

.nav {
  max-width: 300px;
  width: 100%;
  align-self: center;
}
.nav nav {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav nav a {
  color: inherit;
  text-decoration: none;
  font-family: poppins;
  font-size: 16px;
  transition: color 0.3s;
}

.nav nav a:hover {
  color: #deff03;
}

.contactus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus button {
  width: 151px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 60px;
  border: none;
  background-color: #deff03;
  font-family: poppins;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
  gap: 5px;
}
.contactus button:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

.contactus button img {
  height: 18px;
}

/* hero */

#hero {
  background-image: url("../img/Rectangle 61.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 566px;
  display: flex;
}

#hero .wrapper {
  display: flex;
  width: 100%;
  gap: 40px;
  align-items: center;
  position: relative;
}

#hero .left {
  flex: 1;
  border-radius: 10px;
  margin-top: -100px;
}

#hero .left .text h3 {
  font-family: poppins;
  font-size: 50px;
  font-weight: 600;
  color: #333333;
  line-height: 1.2;
  padding-bottom: 30px;
}

#hero .left .text p {
  font-family: poppins;
  font-size: 16px;
  color: #828282;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 40px;
  max-width: 600px;
}

#hero .left .btns {
  display: flex;
  gap: 10px;
  max-height: 59px;
}

#hero .left .btns button {
  padding: 12px 30px;
  border: 1px solid solid #333333;
  background-color: transparent;
  color: #333333;
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s;
}

#hero .left .btns button:first-child {
  background-color: #333333;
  color: #ffffff;
}

#hero .left .btns button:hover {
  background-color: #deff03;
  color: #333333;
}

#hero .right {
  flex: 1;
  padding: 15px;
  border-radius: 15px;
  background-color: #e9e9e95c;
  max-width: 410px;
  margin-top: -20px;
}

#hero .right .text h4 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  line-height: 1.2;
  padding-bottom: 10px;
}

#hero .right .text p {
  font-family: poppins;
  font-size: 16px;
  color: #666666;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 15px;
}

#hero .right .btns {
  display: flex;
  justify-content: flex-start;
}

#hero .right .btns button {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #deff03;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

#hero .right .btns button:hover {
  transform: scale(1.1);
  img {
    transform: scale(1.2);
  }
}

#hero .right .btns button img {
  width: 22px;
  height: 22px;
  transition: all 0.3s;
}

/* stats */

#stats .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#stats .wrapper > div {
  text-align: center;
  padding: 30px 20px;
}

#stats .wrapper > div h2 {
  font-family: poppins;
  font-size: 48px;
  font-weight: 600;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 10px;
}

#stats .wrapper > div p {
  font-family: poppins;
  font-size: 19px;
  color: #828282;
  line-height: 1.4;
  font-weight: 400;
}

/* about us */

#aboutus {
  padding: 80px 0;
}

#aboutus .wrapper {
  display: flex;
  gap: 0;
  align-items: stretch;
}

#aboutus .wrapper > img {
  flex: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 10;
}

#aboutus .right {
  flex: 1;
  margin-left: -20px;
  background-color: #deff03;
  padding: 60px 50px;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
}

#aboutus .right .text {
  margin-bottom: 30px;
}

#aboutus .right .text h3 {
  font-family: poppins;
  font-size: 30px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
}

#aboutus .right .text p {
  font-family: poppins;
  font-size: 20px;
  color: #4f4f4f;
  line-height: 1.6;
  font-weight: 400;
}

#aboutus .right .btns {
  display: flex;
  align-items: center;
}

#aboutus .right .btns button {
  width: 173px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid solid #333333;
  border-radius: 50px;
  transition: all 0.3s;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

#aboutus .right .btns button:hover {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  gap: 15px;
}

#aboutus .right .btns button img {
  width: 20px;
  height: 20px;
}

/* service */

#service {
  padding: 20px;
  background-color: #ffffff;
  min-height: 640px;
}

#service .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#service .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#service .top h2 {
  font-family: poppins;
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

#service .top button {
  width: 177px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #deff03;
  border: 0;
  border-radius: 50px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s;
}

#service .top button:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  gap: 15px;
}

#service .top button img {
  width: 24px;
  height: 24px;
}

#service .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

#service .bottom .box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  transition: all 0.3s;
  border-radius: 10px;
  border: 1px solid solid #e0e0e0;
  max-width: 300px;
  gap: 10px;
  height: 100%;
}

#service .bottom .box:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  gap: 15px;
  img {
    transform: scale(1.2);
  }
}

#service .bottom .box img {
  width: 64px;
  height: 64px;
  transition: all 0.3s;
}

#service .bottom .box h3 {
  font-family: poppins;
  font-size: 24px;
  font-weight: 600;
  color: #4f4f4f;
}

#service .bottom .box p {
  font-family: poppins;
  font-size: 16px;
  color: #828282;
  line-height: 1.6;
  font-weight: 400;
}

/* solutions */

#solutions {
  padding: 30px;
  background-image: url("../img/Rectangle 62.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 782px;
  display: flex;
  align-items: center;
}

#solutions .wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#solutions .text-section {
  max-width: 630px;
  border: 1px solid solid #ffffff;
  border-radius: 10px;
  padding: 40px;
  background-color: #e9e9e933;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  margin-left: 0px;
}

#solutions .text-section h3 {
  font-family: poppins;
  font-size: 30px;
  font-weight: 500;
  color: #f2f2f2;
}

#solutions .text-section p {
  font-family: poppins;
  font-size: 16px;
  color: #f2f2f2;
  line-height: 1.2;
  font-weight: 400;
}

#solutions .text-section ul {
  margin-left: 25px;
  font-family: poppins;
  font-size: 16px;
  color: #f2f2f2;
  line-height: 1.4;
  font-weight: 400;
}

#solutions .text-section button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deff03;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  img {
    width: 25px;
    height: 25px;
    transition: all 0.3s;
  }
}

#solutions .text-section button:hover {
  transform: scale(1.1);
  img {
    transform: scale(1.2);
  }
}

/* testimonials section */

#testimonial {
  padding: 80px 0;
  background-color: #ffffff;
}

#testimonial .wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#testimonial .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#testimonial .top h3 {
  font-family: poppins;
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

#testimonial .top h2 {
  font-family: poppins;
  font-size: 46px;
  font-weight: 600;
  color: #2b2b2b;
  line-height: 1.2;
}

#testimonial .bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  flex-wrap: wrap;
}

#testimonial .bottom .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid solid #e0e0e0;
  border-radius: 20px;
  transition: all 0.3s;
  background-color: #ffffff;
  /* width: 520px; */
}

#testimonial .bottom .box:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* quotes */
#testimonial .bottom .box img:first-child {
  width: 56px;
  height: 56px;
}

#testimonial .bottom h4 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  line-height: 1.3;
}

#testimonial .bottom p {
  font-family: poppins;
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  font-weight: 400;
}

/* stars */
#testimonial .box img:nth-of-type(2) {
  width: 120px;
  height: auto;
}

#testimonial .user {
  display: flex;
  align-items: center;
  gap: 12px;
}

#testimonial .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#testimonial .user span {
  font-family: poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

/* blog section */

#blog {
  padding: 80px 0;
  background-color: #ffffff;
}

#blog .wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#blog .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#blog .top p {
  font-family: poppins;
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

#blog .top button {
  width: 177px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #deff03;
  border: none;
  border-radius: 60px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s;
  img {
    width: 24px;
    height: 24px;
  }
}

#blog .top button:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

#blog .bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#blog .bottom .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  padding-bottom: 30px;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  h4 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: #4F4F4F;
    line-height: 30px;
  }

  p {
    font-family: poppins;
    font-size: 16px;
    color: #828282;
    line-height: 1.6;
    font-weight: 400;
  }
}

#blog .bottom .box:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* subscribe */

#Subscribe {
  padding: 60px 0;
  background-color: #F2F2F2;
}

#Subscribe .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

#Subscribe h3 {
  font-family: poppins;
  font-size: 40px;
  font-weight: 500;
  color: #333333;
  line-height: 1.2;
  padding-bottom: 10px;
}

#Subscribe p {
  font-family: poppins;
  font-size: 16px;
  color: #828282;
  line-height: 1.6;
  font-weight: 400;
}

#Subscribe form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
}

#Subscribe input {
  padding-left: 30px;
  width: 386px;
  height: 64px;
  border: none;
  border-radius: 60px;
  font-family: poppins;
  font-size: 14px;
  color: #828282;
  background-color: #E0E0E0;
  transition: all 0.3s;
  cursor: pointer;
}

#Subscribe button {
  width: 170px;
  height: 64px;
  background-color: #deff03;
  border: none;
  border-radius: 60px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s;
  align-self: flex-start;
}

#Subscribe button:hover {
  gap: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

#Subscribe button img {
  width: 24px;
  height: 24px;
}


/* footer */

footer {
  background-color: #333333;
  padding: 60px 40px 40px 40px;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer .top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
}


footer .top > div:first-child {
  max-width: 320px;
}

footer .top > div:first-child img {
  height: 40px;
  width: auto;
  margin-bottom: 15px;
  display: block;
}

footer .top > div:first-child p {
  color: #ffffff;
  font-size: 16px;
  font-family: poppins;
  line-height: 1.6;
  font-weight: 400;
}

footer .top > div h3 {
  color: #ffffff;
  font-size: 24px;
  font-family: poppins;
  font-weight: 500;
  margin-bottom: 20px;
}

footer .top > div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .top > div ul li a {
  color: #ffffff;
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.6;
  transition: color 0.3s;
}

footer .top > div ul li a:hover {
  color: #deff03;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #4f4f4f;
  flex-wrap: wrap;
  gap: 20px;
}

footer .bottom p {
  color: #938F99;
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
  line-height: 1.6;
}

footer .bottom .social {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

footer .bottom .social span {
  color: #ffffff;
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
  line-height: 1.6;
}

footer .bottom .social img {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  border: 1px solid #ffffff;
  border-radius:  30px;
}
footer .bottom .social #fb {
  background-color: #ffffff;
}

footer .bottom .social img:hover {
  transform: scale(1.2);
}


